{% extends 'users/base.html' %}

{% block title %}<title>Certificaciones</title>{% endblock %}


{% block content %}

{% load static %}

<section id = "titulo">

    <h1> Certificaciones </h1>
    <br>

</section>
<!--certificaciones-->
<section id="Certificaciones">
<div class="container">
    <div class="row">
        <div class="col-12 col-sx-12 col-sm-12 col-md-6 col-lg-6">
            <!--Cisco-->
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{% static 'images/cisco.png'%}" class="card-img" alt="Cisco">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Cisco</h5>
                     <ul>
                        <li>CCNP Routing and switching</li>
                        <li>CCNA Routing and Switching</li>
                        <li>CMNA Meraki </li>
                     </ul>
                    <p class="card-text"><small class="text-muted">Hasta Diciembre 2021</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>

             <!--IEU-->

        <div class="col-12 col-sx-12 col-sm-12 col-md-6 col-lg-6">
            <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{% static 'images/ieu.png'%}" class="card-img" alt="Cisco">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Universidad IEU</h5>
                 <ul>
                    <li>Diplomado de habilidades directivas</li>
                
                 </ul>
              </div>
            </div>
          </div>

        </div>
        
    </div>

</div>

      <!--UVEG-->
<div class="row">
   
    <div class="col-12 col-sx-12 col-sm-12 col-md-6 col-lg-6">

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{% static 'images/uveg_dos.jpg'%}" class="card-img" alt="Cisco">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">UVEG</h5>
                 <ul>
                    <li>Curso de comunicación y redes</li>
                    <li>Curso Tecnologías de la informacion para los negocios </li>
                 </ul>
                </div>
              </div>
            </div>
        </div> 
    </div>

    <!--Codigo facilito-->

    <div class="col-12 col-sx-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{% static 'images/codi.png'%}" class="card-img" alt="codi">
              </div>
                <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Codigo facilito</h5>
                 <ul>
                    <li>Curso de introducción a la programación</li>
                    <li>Curso Profesional de desarrollo web </li>
                    <li>Curso Profesional de Python</li>
                 </ul>
                </div>
                </div>
            </div>
        </div> 
    </div> 

</div>

<div class="row">
    <div class="col-12 col-sx-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card mb-3" style="max-width: 1040px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{% static 'images/platzi.png'%}" class="card-img" alt="platzi">
              </div>
                <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Platzi</h5>
                 <ul>
                    <li>Curso de desarrollo web online</li>
                    <li>Curso de redes de internet </li>
                    <li>Curso de seguridad informática para empresas</li>
                    <li>Fundamentos de ingeniería de software </li>
                    <li>Introducción a terminal y línea de comandos  </li>
                    <li>Curso de boostrap  </li>
                    <li>Curso de HTML y CSS  </li>
                    <li>Curso de programación básica   </li>
                    <li>Curso de Prework: buenas prácticas y entorno de desarrollo</li>
                    <li>Curso de Python</li>
                    <li>Curso de introducción al pensamiento computacional con python</li>
                    <li>Curso avanzado de redes de internet</li>
                </ul>
                </div>
                </div>
            </div>
        </div> 

    </div>
</div>

</div>




</section>

{% endblock %}


